@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web
@* Оставляем настройку ТОЛЬКО ТУТ *@
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<Router AppAssembly="@typeof(Routes).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(AMBE.Shared.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(AMBE.Shared.MainLayout)">
            <p role="alert">Извините, по этому адресу ничего нет.</p>
        </LayoutView>
    </NotFound>
</Router>
